---
layout: default
title: Home
---

<div id="section1" class="section active margin-top-bottom">
    <div class="card">
      <div class="card-body">
        <p class="card-text">
             <p>
                 You live in Bangalore and want to vote from current address in Bangalore.
             </p>

             <p>
                But your voter id address is still set to your hometown or to an older address?
             </p>
             <p>
                 This guide is for you. This whole process should take 10 minutes.
            </p>
        </p>
        <div class="row flex-spaces">
          <div class="alert alert-danger">Dec 9, 2023 is the <a href="/faq/#deadline">last date</a>!</div>
        </div>

        <button onclick="navigate('next', 1)">Let's do this!</button>
      </div>
    </div>
</div>

<div id="section2" class="section margin-top-bottom">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title bold">1. EPIC (Voter ID)</h5>
        <p class="card-text">
            <p>
                EPIC is your voter ID number. Click Next if you already have it with you, or if you've never registered to vote in India.
            </p>
            <p>
            It will be on your existing Voter ID card. If you can't find your Voter ID, open <a href="https://electoralsearch.eci.gov.in/" target="_blank">electoralsearch.eci.gov.in</a>.
            </p>
            <p>
                Enter the following info on that site:
                <ul>
                    <li>State where your last Voter ID was issued.</li>
                    <li>Your first name</li>
                    <li>Your relative's first name (Mostly your father)</li>
                    <li>Your date of birth</li>
                    <li>Your gender</li>
                    <li>Captcha</li>
                </ul>
        
            <p>
            And hit Search.
        </p>
        <p>
            Found your EPIC number? Awesome, copy it somewhere and click Next.</p>
        </p>
        {% include stuck.html %}
        <button class="prev-button" onclick="navigate('prev', 2)">Previous</button>
        <button onclick="navigate('next', 2)">Next</button>
      </div>
    </div>
</div>

<div id="section3" class="section margin-top-bottom">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title bold">2. Address</h5>
        <p class="card-text">
            <p>Let's find your voting district, post office, and your assembly constituency.</p>
            <div id=pinholder class="form-group">
                <label for="pincode">Pincode:</label>
                <input pattern="56\d{4}" title="Please enter a valid Bangalore pincode" required id="pincode" type="text" maxlength="6"  minlength=6 size=6 placeholder="56____">
            </div>
            <div id="pincode-message" style="display:none">Your Post Office is one of <strong><ul id="post-office"></ul></strong></div>
            <!-- TODO: Give an option to skip the pincode? -->
            <div id="mapholder" style="display:none">
                <br>
                <p><strong>Next Up: Constituency</strong></p>
                <p>
                    Type your address (or a building close enough to your residential address), or click the crosshair button
                    to automatically detect your address
                    if you're on your phone - it might take a few seconds. You will have to grant location permissions.
                </p>
                <p>
                    Click next once you are sure about your <strong>Assembly Constituency</strong>. If you're confused, you can view a more detailed map at <a target="_blank" href="https://kgis.ksrsac.in/pollinginfo/">kgis.ksrsac.in</a>. 
                </p>
                <input id="addressInput" type="text" placeholder="Enter address" value="">

                <div id="map"></div>
            </div>
        </p>
        {% include stuck.html %}
        <button class="prev-button margin-top-2" onclick="navigate('prev', 3)">Previous</button>
        <button onclick="navigate('next', 3)">Next</button>
      </div>
    </div>

</div>

<div id="section4" class="section margin-top-bottom">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title bold">3. Address Proof</h5>
        <p class="card-text">
            <p>
                Best to get this ready before you apply. You can use any of:
            </p>
                <ul>
                    <li>Rental Agreement</li>
                    <li>Driver's License</li>
                    <li>Passport</li>
                    <li>Aadhaar</li>
                    <li>Post received from Post Office</li>
                </ul>
                <p>
                    Don't have any of these? You can <a href="https://forms.gle/UtJDzGAjYzLY3s7k7" target="_blank">fill this form</a> to get a postcard as an address proof.
                </p>
                <p>Your address proof must be less than 2 MB. If your file is too big, you can <a href="https://acrobat.adobe.com/link/acrobat/compress-pdf?x_api_client_id=adobe_com&x_api_client_location=compress_pdf" target="=_blank">this tool</a> to compress your PDF.</p>

        </p>
        {% include stuck.html %}
        <button class="prev-button" onclick="navigate('prev', 4)">Previous</button>
        <button onclick="navigate('next', 4)">Next</button>
      </div>
    </div>
</div>

<div id="section5" class="section margin-top-bottom">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title bold">4. Fill your Form 6/8</h5>
        <p class="card-text">
            <div class="row flex-spaces">
              <div class="alert alert-secondary">The ECI website is best used on desktop.</div>
            </div>
            <p>
                1. Sign up for an account at <a href="https://voters.eci.gov.in/signup" target="_blank">voters.eci.gov.in</a>. If you had an account at
                nvsp.in earlier, the same one is valid here.
            </p>
            <p>2. Go <a href="https://voters.eci.gov.in/login" target="_blank">here</a>, and submit Form 8 (or Form 6 if you've never had a voter ID) using the credentials you signed up with.</p>
            <p>Keep these details handy for the form:</p>
            <div id="location-details"></div>
            <br>
            <p>Once you've filled the form, you will get a form reference id. Keep this safe, so you can follow the form's progress. You can use your ward details to find your Booth Level Officer and follow up on the progress.</p>
        </p>
        {% include stuck.html %}
        <button class="prev-button" onclick="navigate('prev', 5)">Previous</button>
        <button onclick="navigate('next', 5)">Next</button>
      </div>
    </div>
</div>

<div id="section6" class="section margin-top-bottom">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title bold">Share</h5>
        <p class="card-text">
            All set? Well, let's hope your application gets approved and you get to vote in Bangalore in 2024!
        </p>
        <p>
            Meanwhile, do share it with your friends and family! Here's a template for you to use.
        </p>
        <p>Hey! Check out this neat guide that helps you change your address for the voter id so you can vote from Bangalore! https://blr.vote</p>
        <button id="copyButton">Copy and share</button>
      </div>
    </div>

</div>

<script>
    function navigate(direction, currentStep) {
        let newStep;
        let steps = 6;

        if (direction === 'next') {
            newStep = currentStep + 1;
        } else {
            newStep = currentStep - 1;
        }

        // Wrap around the steps if necessary
        if (newStep > steps) {
            newStep = 1;
        } else if (newStep < 1) {
            newStep = 5;
        }

        // Hide all sections
        for (let i = 1; i <= steps; i++) {
            document.getElementById('section' + i).classList.remove('active');
        }

        // Show the new section
        document.getElementById('section' + newStep).classList.add('active');
    }

    document.getElementById('copyButton').addEventListener('click', function() {
        const textToCopy = "Hey! Check out this neat guide that helps you change your address for the voter id so you can vote from Bangalore! https://blr.vote";
        navigator.clipboard.writeText(textToCopy)
            .then(() => {
                // TODO: Flash the copyButton
                // Success message or action
            })
            .catch(err => {
                // Error handling
                console.error('Error in copying text: ', err);
            });
    });

</script>
