
/* Color Palette */
:root {
    --democracy-blue: #1947D1;
    --voter-white: #FFFFFF;
    --indian-saffron: #FF9933;
    --regal-purple: #512DA8;
    --slate-gray: #607D8B;
}

/* Branding CSS for blr.vote */

/* Color Palette */
:root {
    --ashoka-blue: #1947D1; /* Blue of the Ashoka Chakra */
    --voter-white: #FFFFFF;
    --neutral-gray: #607D8B;
}

.container {
    max-width: 400px; /* Width of the mobile-like layout */
    margin: 0 auto; /* Center the container */
    background-color: #fff; /* Background color for the container */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for better focus */
}
.section {
    display: none;
}

.section.active {
    display: block;
}

.margin-top-bottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.bold {
    font-weight: bold;
}

.card .card-body .card-subtitle, .card .card-body h5 {
    color: var(--primary);
}

.nav-brand a,.nav-brand a:visited {
    margin-left: 1rem;
}

.p0 {
    padding:0;
}

body {
    font-family: 'Libre Franklin', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
    font-size: 18px; /* Example font size */
    line-height: 1.5; /* This is 1.5 times the font size */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Franklin', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
    font-weight: 400;
}

a, button, html, input, li, option, p, select, table, tbody, td, textarea, th, thead, tr {
    font-family: 'Libre Franklin', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
    line-height: 1.5; /* This is 1.5 times the font size */
}

/* Navbar Styles */
.navbar {
    background-color: var(--ashoka-blue);
    color: var(--voter-white);
}

.navbar button {
    background-color: var(--voter-white);
    color: var(--ashoka-blue);
}

button, .prev-button {
    background-color: var(--neutral-gray);
}

.navbar button:hover {
    background-color: var(--neutral-gray);
    color: var(--voter-white);
}

/* Button Styles */
button, .btn, .btn-primary {
    background-color: var(--ashoka-blue);
    color: var(--voter-white);
}

.card-margin {
    margin: 1rem;
}

button:hover, .btn:hover, .btn-primary:hover {
    background-color: var(--neutral-gray);
    color: var(--voter-white);
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    color: #000;
    font-size: 16px;
}

/* Custom Styles */
.heart {
    color: red;
}

.flag {
    font-size: 20px;
}

/* We don't like the paper shadow effect, since it creates jitter */
.card {
    width: 90%;
    margin: 1rem;
    box-shadow: none !important;
}
.card:hover {
  transform: none ! important;
  box-shadow: none !important;
}
input:invalid {
  background-color: ivory;
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}
#map {
  height: 400px;
  width: 100%;
}

#addressInput {
  width: 100%;
  margin-bottom: 10px;
}

.custom-control {
  background: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  cursor: pointer;
}

.custom-control img {
  width: 20px;
  height: 20px;
}
.card .card-body .card-link+.card-link, .card .card-body a+a {
margin-left: 0;
}

@font-face {
  font-family: 'Libre Franklin';
  src: URL('/assets/LibreFranklin.ttf') format('truetype');
}

.section::after {
  content: "";
}

#location-details {
    border: 1px dashed grey;
}