<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLR Vote</title>
    <!-- TODO: Add Open Graph Images -->
    <link rel="stylesheet" href="/assets/paper.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <script defer data-domain="blr.vote" src="https://plausible.io/js/script.js"></script>
</head>
<body>
<div class="container">

    <header>
        <div class="navbar-container">
            <nav class="border split-nav">
                <div class="nav-brand">
                    <h4 class='bold'><a href="/" style="text-decoration: none;border-bottom:none;padding-bottom:0px">🇮🇳 Vote From BLR</a></h4>
                </div>
            </nav>
        </div>
    </header>

    {{content}}


    <footer class='margin-top-2'>
        <p>Made with <span class="heart">❤️</span> for <span class="flag">🇮🇳</span> by <a href="https://tatooine.club/@nemo" target="_blank">Nemo</a> and <a target="_blank" href="https://twitter.com/shreyas_satish">Shreyas</a></p>
        <p><a href="/about/">About</a> | <a href="/about/#credits">Credits</a> | <a href="/faq/">FAQ</a></p>
    </footer>

</div>


<script src="/assets/turf.min.js"></script>
<script src="/assets/script.js"></script>

</body>
</html>
